@tailwind base;
@tailwind components;
@tailwind utilities;




/* Keyframes for fadeInLeft */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Keyframes for fadeInRight */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animation classes */
.animate-fadeInLeft {
  animation: fadeInLeft 1s ease-out;
}

.animate-fadeInRight {
  animation: fadeInRight 1s ease-out;
}





/* css for milestone */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* Start slightly above */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* End at the original position */
  }
}

.milestone {
  background-color: #1F0F4B;
  padding: 20px 20px;
  /* Adjust padding for smaller screens */
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-20px);
  /* Initial position for scroll animation */
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.milestone.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInDown 1.5s ease-out forwards;
}

.milestone div {
  width: 100%;
  border-right: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.milestone div:last-child {
  border-right: none;
}

.milestone h1 {
  font-size: 30px;
  /* Adjust font size for smaller screens */
  color: #4299e1;
}

.milestone p {
  font-size: 12px;
  /* Adjust font size for smaller screens */
  color: #fff;
}

/* Responsive adjustments */
@media (min-width: 640px) {

  /* sm */
  .milestone {
    padding: 30px 20px;
    /* Adjust padding for small screens */
  }

  .milestone h1 {
    font-size: 40px;
    /* Adjust font size for small screens */
  }

  .milestone p {
    font-size: 14px;
    /* Adjust font size for small screens */
  }
}

@media (min-width: 768px) {

  /* md */
  .milestone {
    padding: 40px 80px;
    /* Adjust padding for medium screens */
  }

  .milestone h1 {
    font-size: 50px;
    /* Adjust font size for medium screens */
  }

  .milestone p {
    font-size: 16px;
    /* Adjust font size for medium screens */
  }
}

@media (min-width: 1024px) {

  /* lg */
  .milestone {
    padding: 40px 100px;
    /* Padding for large screens */
  }
}




